main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2em;
}

section div {
	margin: 2em;
}

section div img {
	width: 25em;
}

main div {
	width: 15em;
	height: 25em;
	margin-right: .3em;
	margin-bottom: 2em;
}

main div img {
	width: 15em;
}

section {
	display: none;
}