body {
	background: #d8d8d8;
	margin: 0;
	padding: 6em 1.5em 2em 2.2em;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background: #24292e;
	display: flex;
	height: 5em;
	align-items: center;
	justify-content: center;
}

nav p {
	color: white;
	font-family: helvetica;
	font-weight: 100;
	font-size: 1em;
	cursor: pointer;
	width: 18em;
	padding: .5em .5em .5em 2em;
}

nav span {
	margin-right: .5em;
	margin-left: .5em;
	font-weight: 800;
	font-size: 1.3em;
}

nav form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

nav input {
	font-size: 1em;
	padding: .8em .6em .6em .8em;
	border: none;
	width: 60vw;
	border-radius: .1em;
	background: #3F3F3F;
	color: white;
	margin-right: 2em;
	font-style: italic;
}

nav input:focus {
	outline: none;
	background: #595959;
	font-style: normal;
}

nav img {
	width: 1.6em;
	margin-left: -4em;
	margin-bottom: .1em;
}

@media (max-width: 60em) {
	nav {
		flex-direction: column;
		padding-bottom: 2em;
	}

	body {
		padding-top: 10em;
	}

	nav input {
		margin-right: 0;
	}

	nav img {
		margin-left: -2em;
	}
}



main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2em;
}

#all {
	background: white;
	width: 15em;
	height: 22em;
	margin-right: 1em;
	margin-bottom: 1em;
	border-radius: .3em;
	border-top-right-radius: 0em;
	transition: all .5s;
	box-shadow: 3px 3px 20px #888888;
}

#all:hover {
	border-top-right-radius: 4.2em;
	text-decoration: underline;
}

#all .ava:hover {
	border-top-right-radius: 5em;
}

#all a {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

#all .ava {
	transition: all .5s;
	margin-bottom: 1.3em;
	border-top-right-radius: 0em;
}

#all .gitlogo {
	width: 2em;
	height: 2em;
}

#all h2 {
	font-family: helvetica;
	margin: .4em;
	color: #24292e;
	text-align: center;
	font-size: 1.2em;
}

/* zoom */

section {
	font-family: helvetica;
	display: none;
}
section div {
	margin: 2em;
	display: flex;
	flex-wrap: wrap;
}

section div img {
	height: 25em;
	margin-right: 2em;
	margin-bottom: 2em;
}

main div img {
	width: 15em;
	height: 15em;
}

section a,
section p {
	color: #24292e;
	font-size: 1em;
	margin: 0 0 1.5em 0;
}

section h1 {
	margin: 0 0 .5em 0;
	font-size: 2em;
}

section a {
	display: block;
}

section span {
	font-weight: 800;
	font-style: italic;
}

.back {
	align-self: center;
	transition: all .2s;
	margin-top: 1em;
	border: 2px solid #24292e;
	background: 0;
	padding: .8em 2em .8em 2em;
	width: 2.5em;
	text-decoration: none;
	border-radius: .3em;
	cursor: pointer;
}

.back:hover {
	background: #24292e;
	color: white;
	border-color: #24292e;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.showFlex {
	display: flex;
}

@media (max-width: 30em) {
  	body {
		padding: 10em 0em 2em 1.3em;
  	}

  	section div img {
		height: 18em;
	}
}
